<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-5">
            <div class="header pt-2 ps-3">
               <h3><span class="style">Stay</span><span>cation.</span></h3>
            </div>
            <div class="content ms-5 py-5">
                <h4>Reset Password</h4>
                <p>If you already have an account register
                    <br>you can <a class="text-danger ps-2 fw-bold">Login here !</a>
                </p>
            </div>
            <form>
            <div class="input  ms-5">
                <label class="form-label">Email</label>
                  <input type="email" class="form-control w-75" placeholder="Please typr here ...">
            </div>
            <div class="input mt-2 ms-5">
                <label class="form-label">OTP</label>
                  <input type="OTP" class="form-control w-75" placeholder="Please typr here ...">
            </div>
            <div class="input mt-2 ms-5">
                <label class="form-label">Password</label>
                  <input type="password" class="form-control w-75" placeholder="Please typr here ...">
            </div>
            <div class="input mt-2 ms-5">
                <label class="form-label">Confirm Password</label>
                  <input type="password" class="form-control w-75" placeholder="Please typr here ...">
            </div>
                   <div class="ms-5">
                <button class="shadow-lg main mt-4 w-75">Reset</button>
            </div>
                   
            </form>
        </div>
        <div class="col-md-6 ">
            <div class="picture d-md-flex">
                <img src="../../../../assets/images/ResetPassword.png" class="w-100">
            </div>
        </div>
    </div>
</div>
