<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="header pt-2 ms-3">
               <h2><span class="style">Stay</span><span>cation.</span></h2>
            </div>
            <div class="content ms-5 pt-5 px-5">
                <h4>Reset Password</h4>
                <p>If you already have an account register
                    <br>you can <a class="text-danger ps-2 fw-bold" [routerLink]="['/auth/login']">Login here !</a>
                </p>
            </div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="ms-5 py-5">
            <div class="input  ms-5">
                <label class="form-label">Email</label>
                  <input formControlName="email" type="email" class="form-control w-75" placeholder="Please type here ...">
            </div>
            <div class="input mt-2 ms-5">
                <label class="form-label">OTP</label>
                  <input formControlName="seed" type="OTP" class="form-control w-75" placeholder="Please type here ...">
            </div>
            <div class="input mt-2 ms-5">
                <label class="form-label">Password</label>
                  <input formControlName="password" type="password" class="form-control w-75" placeholder="Please type here ...">
            </div>
            <div class="input mt-2 ms-5">
                <label class="form-label">Confirm Password</label>
                  <input formControlName="confirmPassword"  class="form-control w-75 position-relative" placeholder="Please type here ...">
               
            </div>
             <div class="ms-5">
                <button [disabled]="resetPasswordForm.invalid" class="shadow-lg main mt-4 w-75">Reset</button>
            </div> 
            </form>
        </div>
        <div class="col-md-6">
            <div class="picture d-md-flex">
                <img src="../../../../assets/images/resetPassword2.png" class="w-100 py-1">
            </div>
        </div>
    </div>
</div>
