<section id="footer">
    <div class="container-fluid">
        <hr>
        <div class="row pt-3">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4 class="logo style-font pb-2"><span class="main-text">Stay</span>cation.</h4>
                <h6 class="pb-2">We kaboom your beauty holiday<br>
                instantly and memorable</h6>
            </div>
            <div class="col-md-2">
                <h5 class="pb-2">For Beginners</h5>
                <h6 class="pb-2">New Account</h6>
                <h6 class="pb-2">Start Booking a Room</h6>
                <h6 class="pb-2">Use Payments</h6>
            </div>
            
            <div class="col-md-2">
                <h5 class="pb-2">Explore Us </h5>
                <h6 class="pb-2">Our Careers</h6>
                <h6 class="pb-2">Privacy</h6>
                <h6 class="pb-2">Terms&Conditions</h6>
            </div>
            <div class="col-md-2">
                <h5 class="pb-2">Contact Us</h5>
                <h6 class="pb-2">Support@staycation.id</h6>
                <h6 class="pb-2">021-2208-1996</h6>
                <h6 class="pb-2">Staycation, Kemang, Jakarta</h6>
            </div>
        </div>
        
    </div>
    <p class="text-center pt-5">Copyright 2019 <span class="dot"> All rights reserved</span> Staycation</p>
</section>
