<section class="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1 class="logo mb-5 style-font"><span class="main-text ">Stay</span>cation.</h1>
                </div>
                <div class="signup-design">
                    <h3>Sign up</h3>
                    <p>If you don’t have an account register <br>You can <a class="text-decoration-none text-danger fw-bold" routerLink="/auth/login">Login here!</a></p>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)" class="w-75">
                        <div class="form-row">
                            <ngx-dropzone [multiple]="false" no_multiple (change)="onSelect($event)" class="mb-0">
                                <div [class]="!profileImgValue ? 'label_custom-style d-flex justify-content-center align-items-center ' : 'visually-hidden'">
                                    <ngx-dropzone-label>
                                        <i class="fa-solid fa-upload"></i>
                                        <p class="text-center">Image</p>
                                    </ngx-dropzone-label>
                                </div>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label></ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    
                        <div class="form-row">
                            <div class="form-group">
                                <label class="">User Name</label>
                                <input type="text" class="form-control" placeholder="User Name" aria-label="username" formControlName="userName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label class="">Email Address</label>
                                <input type="email" class="form-control" placeholder="Email" aria-label="email"  formControlName="email">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-group col-md-5 ">
                                <label class="">Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" aria-label="phone" formControlName="phoneNumber">
                            </div>
                            <div class="form-group col-md-5 ">
                                <label class="">Country</label>
                                <input type="text" class="form-control" placeholder="Country" aria-label="country" formControlName="country">
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group position-relative">
                                <label class="">Password</label>
                                <input [type]="hidePass ? 'password' : 'text'" class="form-control" placeholder="Password" aria-label="password" formControlName="password">
                                <a class="show-password" (click)="this.hidePass= !this.hidePass">
                                    <i class="fa-solid" [class]="hidePass?'fa-eye-slash':'fa-eye'"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="form-group position-relative">
                                <label >Confirm Password</label>
                                <input [type]="hideConfirmPass ? 'password' : 'text'" class="form-control " placeholder="Confirm Password" aria-label="confirm-password" formControlName="confirmPassword">
                                <a class="show-password" (click)="this.hideConfirmPass= !this.hideConfirmPass">
                                    <i class="fa-solid" [class]="hideConfirmPass?'fa-eye-slash':'fa-eye'"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-row">
                            <div>
                                <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 image_form border rounded-5 d-none d-md-flex justify-content-end flex-column p-5">
                <div class="ms-5 text-white">
                    <h3 class="title_form">Sign up to Roamhome</h3>
                    <p class="fw-500 fs-5">Homes as unique as you.</p>
                </div>
            </div>
        </div>
    </div>
</section>