@import "../../../../assets/styles/abstracts/forgotPassword";
.image_form {
  background-image: url(../../../../assets/images/login.png);
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center center;
}