<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header pt-2">
               <h3><span class="style">Stay</span><span>cation.</span></h3>
            </div>
            <div class="content ms-5 py-5">
                <h4>Forgot Password</h4>
                <p>If you already have an account register
                    <br>you can <a class="text-danger ps-2 fw-bold" >Login here !</a>
                </p>
            </div>
            <div class="email-input py-5 ms-5">
                <label class="form-label">Email</label>
                  <input type="email" class="form-control w-75" placeholder="Please typr here ...">
            </div>
            <div class="ms-5">
                <button class="shadow-sm main w-75">Send mail</button>
            </div>
                  
            
        </div>
        <div class="col-md-6">
            <div class="picture py-2">
                <img src="../../../../assets/images/ForgotPassword.png" class="w-100">
            </div>
        </div>
    </div>
</div>
