@import"../../../assets/styles/layout";
.rating{
    background-color: rgba(254, 254, 254, 0.929);
    border:2px solid rgb(239, 239, 239);
    padding: 10px 30px;
}
textarea{
    border:solid #3252DF;
}