<section class="">
  <div class="container-fluid">
    <div class="row">
      <h1 class="logo"><span class="main-text">Stay</span>cation.</h1>

      <div class="col-6 full_height">
        <div class="d-flex align-items-center justify-content-center form_height">
          <form class="w-75">
            <div class="text-start mb-5">
              <h2 class="title_form">Sign in</h2>
              <p class="mt-4">If you don’t have an account register</p>
              <p>You can<a href="">Register here !</a></p>
            </div>

            <div class="form-item mt-4">
              <div class="input-group">
                <label class="">Email Address</label>
                <input type="email" class="form-control w-100" placeholder="Enter your email" aria-label="email"
                  aria-describedby="basic-addon1" formControlName="email">
              </div>
            </div>
            <div class="form-item mt-4 mb-5">
              <div class="input-group">
                <label>Password</label>
                <input type="email" class="form-control w-100" placeholder="Enter your Password" aria-label="email"
                  aria-describedby="basic-addon1" formControlName="email">
              </div>
            </div>

            <div>
              <button class=" btn btn-info w-100">ok</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-6 image_form border rounded-5 d-flex justify-content-end flex-column p-5">
        <div class=" ms-5 text-white">
          <h3 class="title_form">Sign in to Roamhome</h3>
          <p class="fw-500 fs-5">Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
