<section id="addnewItem">
  <div class="row  pt-5 pb-2">
    <div class="col-8">
      <h2>Rooms Table Details</h2>
      <p>You Can cheak all details</p>
    </div>
    <div class="col-4 text-end">
      <button class="btn light-blue p-2 text-white" (click)="addRoom()">Add new Room</button>
    </div>
  </div>

  <div class=" d-flex gap-3">
    <div class="d-flex align-items-center justify-content-between w-50">
      <div class="form-item input-group mb-4">
        <span (click)="getRooms()" class="input-group-text px-3 py-3 myPointer" id="basic-addon1"><i
            class="fa-solid fa-magnifying-glass"></i></span>
        <div class="y-line my-auto"></div>
        <input [(ngModel)]="searchKey" (keyup.enter)="getRooms()" type="text"
          class="form-control rounded-end py-1 block" placeholder="search by name" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="selectors">
      <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-select [(ngModel)]="tagId" (selectionChange)="getRooms()">
          <mat-option>All</mat-option>
          <mat-option>Room A</mat-option>
        </mat-select>
        <mat-icon matSuffix color="primary">sell</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ms-4">
        <mat-label>Facilities</mat-label>
        <mat-select [(ngModel)]="facilitiesId" (selectionChange)="getRooms()">
          <mat-option>All</mat-option>
          <mat-option>Room B</mat-option>
        </mat-select>
        <mat-icon matSuffix color="primary">storefront</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="col">Room number</th>
        <th class="col">Image</th>
        <th class="col">Price</th>
        <th class="col">Discount</th>
        <th class="col">Capacity</th>
        <th class="col">Category</th>
        <th class="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Room 1</td>
        <td>
          notFound
        </td>
        <td>
          200
        </td>
        <td>200</td>
        <td>tag1</td>
        <td>Chicken</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openAddAdsDialog()">
              <mat-icon class="text-light-blue">edit_square</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDeleteRoomDialog('item')">
              <mat-icon class="text-light-blue">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>

      </tr>
    </tbody>

  </table>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)" aria-label="Select page">
  </mat-paginator>
