<section>
    <div class="container">
      <h2 class="text-center m-4 text-dark-blue">{{"all-rooms"|translate}}</h2>
      <p class="gray">
        <a routerLink="/landing-page/home" class="text-decoration-none gray">{{"nav-home"|translate}} </a>
        /
        <a routerLink="/landing-page/explore" class="text-decoration-none gray"> {{"nav-explore"|translate}}</a>
      </p>
      <h5 class="fw-bold text-dark-blue">{{"rooms"|translate}}</h5>
    </div>
    <section id="living-room">
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-md-3 position-relative" *ngFor="let item of tableDataRooms">
                    <div class="text">
                        <span>{{item.discount}}% {{"padge-ads"|translate}}</span>
                    </div>
                    <img [src]="item.images[0]"  class="w-100 picture imgHeight2">
                    <h5>{{item.roomNumber}}</h5>
                    <p>Jakarta Indonesia</p>
                </div>
            </div>
        </div>
    </section>
    <div class=" d-flex justify-content-center">
        <mat-paginator [length]="totalCount" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)"
    aria-label="Select page">
</mat-paginator>
    </div>
    
  </section>