@import"../../../assets/styles/layout";
.sidebar{
    background-color: $light-blue;
    li{
        list-style: none;
        cursor: pointer;
        color: white;
        font-size: 20px;
        font-family:Inter;
        font-weight: 500;
        line-height: 15.73px;
    }
    .style{
        color: rgba(234, 234, 234, 0.932);
    }
    
}
