<section class="container py-4">

    <a class="text-end d-block myPointer" (click)="onNoClick()"><i class="fa-regular fa-2x fa-circle-xmark text-danger"></i></a>

    <div class="p-3 ">
        <div class="text-center pb-3">
            <img src="../../../../../../assets/images/profoilImg.jpg" class="w-75" alt="">
        </div>
        <div class="data text-center">
            <h4>Name</h4>
            <h4>Email</h4>
            <h4>PhoneNumber</h4>
            <h4>Country</h4>
            <hr>
        </div>
        
        
    </div>
    <div class="text-end">
        <button mat-button class="btn " (click)="onNoClick()"><span ></span>Close</button>
    </div>
</section>
