<section class="p-4">
  <div class="d-flex flex-row-reverse">
    <a (click)="onNoClick()" class="myPointer"><i class="fa-regular fa-circle-xmark text-danger fa-2x"></i></a>

  </div>
  <div class=" d-flex justify-content-center align-items-center flex-column py-4 text-start">
    <h3>Room number : (<span class="text-main">{{data.name?data.name:'Rrcipe'}} </span>)</h3>
    <p class="h4 ">User : (<span class="text-main">{{data.price}} </span>)</p>
    <p class="h4">Start Date : (<span class="text-main">{{data.description?data.description:'No
        Description'}}
      </span>)
    </p>
    <p class="h4">End Date : (<span class="text-main">{{data.description?data.description:'No
        Description'}}
      </span>)
    </p>
    <p class="h4 ">Price : (<span class="text-main">{{data.price}} </span>)</p>
  </div>
  <div class="horizontal-line "></div>
  <div class="d-flex flex-row-reverse">
    <!-- <button class="btn btn-outline-danger my-2 ">
      Added to favorite Item <i class="fa-solid fa-heart"></i>
    </button> -->

  </div>
</section>
